@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.wrapper{
  position: relative;
}
.container{
  max-width: 114.4em;
  margin: 0 auto;
  z-index: 2;
}
.red__light__ball{
  position: absolute;
  width: 20em;
  height: 20em;
  top: 20%;
  z-index: -1;
  border-radius: 311px;
  opacity: 1;
  background: #961A1A;
  filter: blur(130px);
}
.purple__light__ball{
  width: 25.9em;
  height: 25.9em;
  position: absolute;
  top: 0;
  left: 33.3%;
  border-radius: 259px;
  opacity: 0.5;
  background: #833AB4;
  filter: blur(196px);
}
.ball__one{
  position: absolute;
  top: 5em;
  right: 50%;
}
.ball__two{
  position: absolute;
  top: 0;
  right: 50em;
}
.ball__three{
  position: absolute;
  top: 60%;
  right: 50em;
}
@media (max-width: 320px) {
  .ball__one{
    display: none;
  }
  .red__light__ball{
    top: 0;
    height: 100%;
    opacity: 0.3;
  }
}